html
  head
    style 
      include style_theme.css
    title Mr. Coffee Schedule page
  body
    header.header
      div
        img(src='#') 
        h1 Schedule Website
      div
        nav.navigation 
          ul 
            li 
              a(href='http://localhost:3000/') Home 
            li 
              a(href='http://localhost:3000/users') Users 
            li 
              a(href='http://localhost:3000/schedules') Schedules
            li 
              a(href='http://localhost:3000/logout') Logout
    
    main 
    block content 

    footer.footer 
      div
        img(src='#')
        p Mc. Coffee Schedule Website 2021

