html
  head
    style 
      include style_theme.css
    title Mr. Coffee Schedule page
  header.header
    div.logo
      img(src='full_logo_white_h60px.png') 
      h1 Schedule Website
  body
    main
      block content
        div.modal
          div.form_title
            h2= message
            h2 Log in! 
          form(action="/" method="post" class="modal_contact_form")
            label(for="email") 
            |E-mail
            |
            input(type="text" id="email" name="email" required)
            br
            label(for="password") 
            |Password
            |
            input(type="password" id="password" name="password" required)
            br
            div.submit
              button(type="submit" class="submit_button") LOG IN
          p Not a member? 
            a(href='http://localhost:3000/Register') Create an account 
    
    footer.footer 
        div.logo
          img(src='full_logo_white_h60px.png')
          p Mr. Coffee Schedule Website 2021