extends index.pug 

block content
  div.submit
    .day#1
      p Mon
    .day#2 
      p Tue
    .day#3 
      p Wed
    .day#4
      p Thu
    .day#5 
      p Fri
    .day#6 
      p Sat
    .day#7 
      p Sun 

  div.submit
    a(class="submit_button" href="/schedules/new") Add new schedule

  ul.container
    div.submit 
      each schedule in schedules
        div(class="schedule_item" class="day"+schedule.day) 
          li  
            h2 #{schedule["user_name"]} 
            dayNums= dayNums[schedule.day]  
            br
            | #{schedule["start_at"]}-#{schedule["end_at"]}
          