extends index.pug 

block content

  ul.container
    div.submit 
      each user in users
      
        div.schedule_item
          li 
           |#{user["user_name"]}
           br
           |#{user["first_name"]} #{user["last_name"]}
           - let url = user["user_name"]
           |
           div.submit   
            a(class="submit_button" href="/users/" +url +"/schedule") see schedule  
            a(class="submit_button" href="/users/" +url) see user profile